[submodule "EscProtocol/esc_dshot"]
	path = EscProtocol/esc_dshot
	url = git@github.com:phonght32/esc_dshot.git
[submodule "Algorithm/pid_controller"]
	path = Algorithm/pid_controller
	url = git@github.com:phonght32/pid_controller.git
[submodule "Algorithm/clinalg"]
	path = Algorithm/clinalg
	url = git@github.com:phonght32/clinalg.git
[submodule "IMU/Sensor/icm42688"]
	path = IMU/Sensor/icm42688
	url = git@github.com:phonght32/icm42688.git
[submodule "IMU/Sensor/qmc5883l"]
	path = IMU/Sensor/qmc5883l
	url = git@github.com:phonght32/qmc5883l.git
[submodule "IMU/Sensor/bmp280"]
	path = IMU/Sensor/bmp280
	url = git@github.com:phonght32/bmp280.git
[submodule "IMU/Filter/imu_madgwick"]
	path = IMU/Filter/imu_madgwick
	url = git@github.com:phonght32/imu_madgwick.git
[submodule "IMU/Filter/kalman_height_estimation"]
	path = IMU/Filter/kalman_height_estimation
	url = git@github.com:phonght32/kalman_height_estimation.git
[submodule "Radio/Sensor/nrf24l01"]
	path = Radio/Sensor/nrf24l01
	url = git@github.com:phonght32/nrf24l01.git
[submodule "Radio/Sensor/sx1278"]
	path = Radio/Sensor/sx1278
	url = git@github.com:phonght32/sx1278.git
